header {
  display: flex;
  background-color: lightblue;
  align-items: center;
  justify-content: space-between;
  padding-left: 1rem;
}

header ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin-right: 1rem;
}

header ul li {
  margin-right: 2rem;
  font-weight: 700;
}
